{% extends 'home.html' %}
{% block body %}
<link rel = stylesheet href = "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" defer>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
  </script>
<div  class="container-fluid">
    

    
        <h2 style="color:red;margin-top:4%"> Manage the Employee
        </h2>
        <table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Employeeid</th>
    <th>DOB</th>
    <th>Date of joining</th>
      <th>Department</th>
      <th>Designation</th>
    
    <th>State</th>
    <th>Country</th>
    </tr>




  </thead>



   <tbody>

    {% for i in employee %}
    <tr>
    <td>{{i.name}}</td>
    <td>{{i.employeeid}}</td>
    <td>{{i.dob}}</td>
    <td>{{i.doj}}</td>
    <td>{{i.department}}</td>
    <td>{{i.post}}</td>
    <td>{{i.state}}</td>
    <td>{{i.country}}</td>
    </tr>
    {% endfor %}
    



    <tr>
        <th>Employee Name</th>
    <th>Department</th>
    <th>Task</th>
    <th>Date</th>
      <th>Time In</th>
    <th>Time Out</th>
    <th>Efforts</th>
        </tr>

        
    {% for i in timesheets %}
    <tr>
        <td>{{i.EmoloyeeName}}</td>
        <td>{{i.department}}</td>
        <td>{{i.task}}</td>
          <td>{{i.date}}</td>
          <td>{{i.timeIn}}</td>
          <td>{{i.timeOut}}</td>
          <td>{{i.efforts}}</td>
    </tr>
    {% endfor %}


    <tr>
        <th>Name</th>
    <th>Department</th>
    <th>performance</th>
      <th>progress</th>
    <th>feedback</th>
    <th>hikegot</th>
        
      </tr>
    {% for i in Appraisal %}
    <tr>
        <td>{{i.Name}}</td>
        <td>{{i.Department}}</td>
        <td>{{i.performance}}</td>
          <td>{{i.progress}}</td>
          <td>{{i.feedback}}</td>
          <td>{{i.hikegot}}</td>
    </tr>

    {% endfor %}
    </tbody>

</table>

</div>

{% endblock  %}


