<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>User Registration</title>
</head>
<body style="background-color:#59819b;">
<center>
    <h1>SIGNUP HERE</h1>
 <form action="" method="post" novalidate>
     {% csrf_token %}
     {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="er">{{error}}</p>
        {% endfor %}
     {% endif %}
     {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
     {% endfor %}
     <input type="submit" value="Submit">
 </form>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>
    {% endfor%}
{% endif %}
<br>
<b>Already have an account</b> 
<a href="{% url 'login' %}">Login Here</a>
</center>
</body>
</html>